@import url("style.css");

.bg-dark {
	background-color: #071629 !important;
}

.nav-link {
	color: white;
}

.purple-bg {
	background-color: #C271FF;
}

.purple {
	color: #C271FF;
}

.btn {
	background-color: #C271FF;
}

.circle {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: white;
}